
body{
  background-color: hsl(0, 0%, 81%);
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 80px auto auto;
  letter-spacing: inherit;
}

p{
  font-size: 13px;
  font-weight: lighter;
  color: hsl(210, 46%, 95%);
  /* line-height: 1.25; */
}

h4{
  position: relative;
  font-size: 20px;
  padding-bottom: 10px ;
  font-weight: 600;
  z-index: 10;
}

.name {
  font-weight: 600;
  color: White;
  margin: 0;
}
.wh {
  color: Black;
}

.head {
  width: 35px;
  border-radius: 50%;
  float: left;
  margin: 17px 20px auto auto;
}
.bgpt {
  position: absolute;
  top: 3px;
  right: 85px;
  z-index: 1;
}
.dan{
  border: 2px solid hsl(0, 0%, 81%);
}
/* .jon{
  border: 2px solid hsl(219, 29%, 14%);
} */
.pat{
  border: 2px solid hsl(263, 55%, 52%);
}

/* cards */
.first{
  position: relative;
  background-color: hsl(263, 55%, 52%);
  color: White;
  width: 525px;
  height: 300px;
  margin: 10px auto;
  padding: 7px 30px;
  box-shadow:  0 4px 10px 2px rgba(0,0,0,0.2);
  border-radius: 7px;

}
.second{
  background-color: hsl(217, 19%, 35%);
  color: White;
  width: 260px;
  height: 300px;
  margin: 10px auto;
  padding: 10px 35px;
  box-shadow:  0 4px 10px 2px rgba(0,0,0,0.2);
  border-radius: 7px;
}
.third{
  background-color: White;
  width: 260px;
  height: 280px;
  margin: 10px auto;
  padding: 10px 35px;
  box-shadow:  0 4px 10px 2px rgba(0,0,0,0.2);
  border-radius: 7px;
}
.forth{
  background-color: hsl(219, 29%, 14%);
  color: White;
  width: 525px;
  height: 280px;
  margin: 10px auto;
  padding: 10px 35px;
  box-shadow:  0 4px 10px 2px rgba(0,0,0,0.2);
  border-radius: 7px;
}
.fifth{
  background-color: White;
  width: 260px;
  height: auto;
  margin: 10px auto;
  padding: 10px 35px;
  box-shadow:  0 4px 10px 2px rgba(0,0,0,0.2);
  border-radius: 7px;
}

.attribution{
  margin: 30px auto auto;
}

@media (max-width: 1200px) {
  .first{
    position: relative;
    background-color: hsl(263, 55%, 52%);
    color: White;
    width: auto;
    height: auto;
    margin: 10px auto;
    padding: 7px 30px;
    box-shadow:  0 4px 10px 2px rgba(0,0,0,0.2);
    border-radius: 7px;
  }
  .second{
    background-color: hsl(217, 19%, 35%);
    color: White;
    width: auto;
    height: auto;
    margin: 10px auto;
    padding: 10px 35px;
    box-shadow:  0 4px 10px 2px rgba(0,0,0,0.2);
    border-radius: 7px;
  }
  .third{
    background-color: White;
    width: auto;
    height: auto;
    margin: 10px auto;
    padding: 10px 35px;
    box-shadow:  0 4px 10px 2px rgba(0,0,0,0.2);
    border-radius: 7px;
  }
  .forth{
    background-color: hsl(219, 29%, 14%);
    color: White;
    width: auto;
    height: auto;
    margin: 10px auto;
    padding: 10px 35px;
    box-shadow:  0 4px 10px 2px rgba(0,0,0,0.2);
    border-radius: 7px;
  }
  .fifth{
    background-color: White;
    width: auto;
    height: auto;
    margin: 10px auto;
    padding: 10px 35px;
    box-shadow:  0 4px 10px 2px rgba(0,0,0,0.2);
    border-radius: 7px;
  }


}
